<%= form_for @trade do |t| %>
	<div class="row">
		<div id="seller" class="span4">
			<h2>All items</h2>

				<% @seller_item.each do |i| %>
				<div class="item">
					<%= image_tag i.photo.thumb %>
					<h2><%= i.name %></h2>
					<p><%= i.description %></p>
					<input type="checkbox" name="seller_item_id" value="<%= i.id %>">
				</div>
				<% end %>

		</div>
		<div id="buyer" class="span4">
			<h2>Your items</h2>

				<% @buyer_item.each do |i| %>
					<div class="item">
						<%= image_tag i.photo.thumb %>
						<h2><%= i.name %></h2>
						<p><%= i.description %></p>
						<input type="checkbox" name="buyer_item_id" value="<%= i.id %>">
					</div>
				<% end %>

		</div>
		<div class="span2"><%= t.submit %></div>
	</div>
<% end %>